@font-face {
    font-family: "rmgTimes";
    src: url("/assets/fonts/times.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "rmgTimes";
    src: url("/assets/fonts/timesbd.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "rmgTimes";
    src: url("/assets/fonts/timesbi.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "rmgTimes";
    src: url("/assets/fonts/timesi.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "rmgSimsun";
    src: url("/assets/fonts/simsun.ttc") format("truetype");
}

/* @font-face {
    font-family: "rmgHei";
    src: url(/assets/fonts/simhei.ttf) format(truetype);
} */

/* h1, h2, h3, h4, h5, h6 {
    font-family: "rmgTimes", "rmgHei", sans-serif;
} */

body, p {
    font-family: "rmgTimes", "rmgSimsun", serif;
}